.gardenLayout #gardenCanvas {
    max-width: 100%;
    height: auto;
    border: 1px solid #000000;
}

.gardenLayout #itemsCanvas {
    border: 1px solid #000000;
}

#loadPlanModal .deletePlanX {
    color: red;
    opacity: 1;
}

.gardenLayout .gardenItems, .gardenLayout .gardenItems img {
    width: 50px;
    height: 50px;
}

.gardenLayout .itemsLayout {
    background-color: lightgrey;
    width: 500px;
}