{% load static %}

{% include "header.html" %}

{% include "courseHeader.html" %}

    <br>
    <!-- Page Content -->
    {% if no_lessons %}
    <div>Content coming soon!</div>
    {% else %}
    <div id='subMenus' class='container col-lg-offset-2'>
        {% for l in lessons %}
            <div class="col-lg-3 col-md-4 col-xs-6thumb">
                <!-- <a id='button{{ forloop.counter }}' href='{{l.link}}'> -->
                <a id='button{{ forloop.counter }}' href='/lesson/{{course}}/{{l.name}}'>
                    <div class="subMenuIcons" style="border-color:#{{ color }}">
                        <span class="subMenuText">
                            {{ l.name }}
                        </span>
                    </div>
                </a>
            </div>
        {% endfor %}
        {% if has_quiz %}
            <div class="col-lg-3 col-md-4 col-xs-6thumb">
                <!-- <a id='button{{ forloop.counter }}' href='{{l.link}}'> -->
                <a style='text-decoration: none;' href='/quiz/{{course}}'>
                    <div class="subMenuIcons" style="border-color:#{{ color }}">
                        <span class="subMenuText">
                            Quiz
                        </span>
                        {% if passed %}
                            <img width=40px height=40px src='{% static "img/quiz_completed.png" %}' />
                            <span style='color: green;'>Completed</span>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endif %}
    </div>
    {% endif %}
	
{% include "footer.html" %}