					</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
		
		<!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a class="navbar-brand" href="/">
						Gardening 101
					</a>
                </li>
                    {% for course, color in courses %}
                        <li style='background-color: {{color}};'>
                            <a href="/courseNav/{{course.Course_Name}}/">{{course.Course_Name}}</a>
                        </li>
                    {% endfor %}
					<li style="background-color: black;">
						{% if user.is_authenticated %}
							<a href="/logout">Log out</a>
						{% else %}
							<a href="/login">Log in</a>
						{% endif %}
					</li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
    </div>
    <!-- /#wrapper -->
</body>
</html>