{% load static %}

{% include "header.html" %}

{% include "courseHeader.html" %}

    <br>
    <!-- Page Content -->
    <div id='subMenus' class='container col-lg-offset-2'>
        <div class="col-lg-3 col-md-4 col-xs-6thumb">
            <!-- <a id='button{{ forloop.counter }}' href='{{l.link}}'> -->
            <a id='button{{ forloop.counter }}' href='/garden/{{course}}'>
                <div class="subMenuIcons" style="border-color:#{{ color }}">
                    <span class="subMenuText">
                        Current Plan
                    </span>
                </div>
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6thumb">
            <!-- <a id='button{{ forloop.counter }}' href='{{l.link}}'> -->
            <a id='button{{ forloop.counter }}' href='/garden/{{course}}'>
                <div class="subMenuIcons" style="border-color:#{{ color }}">
                    <span class="subMenuText">
                        Create/View Plans
                    </span>
                </div>
            </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-xs-6thumb">
            <!-- <a id='button{{ forloop.counter }}' href='{{l.link}}'> -->
            <a id='button{{ forloop.counter }}' href='/garden/{{course}}'>
                <div class="subMenuIcons" style="border-color:#{{ color }}">
                    <span class="subMenuText">
                        Past plans
                    </span>
                </div>
            </a>
        </div>
    </div>
	
{% include "footer.html" %}