{% load static %}

{% include "header.html" %}

{% include "courseHeader.html" %}

<div id='gardensImage' style='float: left;'>
        <img style='float: left;' width='65%' src='{% static "img/gardensOverview.jpg" %}' alt='All Gardens'/>
    <ul style="float: left; margin-left: 10px;">
        {% for garden in gardens %}
            <li style="margin-top: 8px">
                <a id='button{{ forloop.counter }}' class='btn btn-default' href='/gardenNav/{{garden}}'>
                    {{ garden }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <!--<div style='float: right; width: 50%; margin-right: 5%;'>-->
        <!---->
    <!--</div>-->
    

	
{% include "footer.html" %}