{% load static %}

{% include "header.html" %}

{% include "courseHeader.html" %}

    <div style='float: right; width: 40%; margin-right: 5%;'>
        <ul>
        {% for garden in gardens %}
            <li style="margin-top: 8px">
                <a id='button{{ forloop.counter }}' class='btn btn-default' href='/gardenNav/{{garden}}'>
                    {{ garden }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    
    <div id='gardensImage' style='float: left; width: 50%'>
        <img src='{% static "img/gardenPlan.jpg" %}' alt='All Gardens'/>
    </div>
	
{% include "footer.html" %}