{% load static %}

<html>
<head>
    <!-- jQuery: -->
    {% include 'jquery_loader.html' %}

    <!--BOOTSTRAP: -->
    <!-- Latest compiled and minified CSS -->
    {% include "bootstraploader.html" %}
    {% include "menuloader.html" %}
    
    <!-- jQuery UI: -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script src="{% static 'js/libraries/jquery-ui.min.js' %}"></script>

    <!-- menu styling: -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/thumbnail-gallery.css' %}"/>

    <script src="{% static 'js/utils.js' %}"></script>

    <style>
        ul.lessonList li {
            margin: 10px 0;
            font-size: 22px;
        }

        .unitTitle {
            margin-top: 0px;
        }

        div.content {
            margin-right: 5px;
        }

        div.inline {
            margin-top: 18px;
            
        }
        
        div.stretch {
            height: 90%;
            width: 100%;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <div class="overlay stretch"></div>

    <!-- Page Content -->
    <div id="page-content-wrapper" class="stretch" style='display: inline;'>
<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <!-- <span>Prison Garden Application</span> -->
        <div class="container inline stretch">
            <div class="row">
                <div class="col-lg-8  stretch">