{% load static %}

{% include "header.html" %}

	<h1 class='unitTitle'>Maintain</h1>
	<div class='content'>
	
		<h2 class='unitTitle'>Lessons:</h2>
		<ul class='lessonList'>
			<li><a href='/pests'>Identifying Pests</a></li>
			<li><a href='/pests'>Choosing Fertilizer</a></li>
			<li><a href='/pests'>Produce</a></li>
			<li><a href='/pests'>Maturity Timeline</a></li>
			<li><a href='/pests'>Watering</a></li>
			<li><a href='/pests'>Weed Recognition</a></li>
			<li><a href='/pests'>Disease</a></li>
		</ul>
	
{% include "footer.html" %}