{% load static %}

{% include "header.html" %}

<h1 class='unitTitle'>Maintain</h1>
<div class='content'>

	<h2 class='unitTitle'>Identifying Pests</h2>
	
	<ul style='margin-top: -5px;'>
		<li><a href="#animals">Animals</a></li>
		<li><a href="#grasshoppers">Grasshoppers</a></li>
		<li><a href="#potato">Potato Beetle</a></li>
		<li><a href="/pestQuiz">Take the quiz!</a></li>
	</ul>
	
	<h3 id='animals'>Animals</h4>
	<img src="{% static 'img/deer.jpg' %}"></img><br>
	If you have a beautiful garden, chances are that neighborhood animals have noticed it, too. Sooner or later, you’ll need to fend them off with some serious animal control.<br><br>

	Tiny enemies like aphids and potato beetles are notorious for chomping lush plants to bits, with neighborhood thieves like deer, rabbits, and even your own pets ready and waiting to mow down what’s left.<br><br>

	Deer are notorious for knowing precisely when you’re not home so they can feast on your tulips, hostas, daylilies. Your edibles aren’t immune either, which can be devastating if you rely on your garden to feed your family (see Keeping Deer Out of the Garden). One vigilant market gardener near us thought they were protected but still lost about $1,000 of mesclun in one night!<br><br>

	Smaller wildlife can be just as devastating. Moles, voles, woodchucks, raccoons and birds steal fruit and vegetables just at the peak of ripeness, and often leave significant damage behind, like tunnels in your lawn or broken fences (Learn safe and effective methods to get rid of moles here).<br><br>

	Even the animals you lovingly feed can work against you. How many times have you found your dog digging up your potato hills or your cat using your freshly-plowed garden as her personal litter box?<br><br>

	These incidents can give even the most calm, peace-loving gardener murderous thoughts. Rest assured, there are humane, earth-friendly, proven solutions that can keep your garden safe.<br><br>

	Here are some tried-and-true strategies and specific solutions to protect your flowers and produce from wildlife and pets.<br><br>

	<b>4 Strategies for Keeping Animals Out of Your Garden</b><br><br>

	<b>1. Identify</b><br><br>

	Make sure you know precisely what creature is ransacking your garden. Putting up a higher fence for deer will be useless if raccoons or rabbits are your problem.<br><br>

	Catching culprits in the act can be tricky, especially if they are nocturnal, so watch carefully for tracks and scat to make an accurate conclusion. If you’re having trouble pinpointing the cause, make sure you turn to your local Cooperative Extension for help.<br><br>

	<b>2. Protect</b><br><br>

	Don’t just plant a garden and forget it. Put up a fence, or another physical barrier to keep these critters out!<br><br>

	Deer protection typically requires a fence 8 ft. high, which is extremely effective, but costly. Some gardeners have had success with two shorter, simple fences spaced 2-3 ft. apart so the deer assume they don’t have enough room to jump between the fences or over both of them. We’ve also had success with shorter fences for smaller areas. Since deer don’t like to be trapped in small spaces, they avoid jumping into them.<br><br>

	If your problem includes digging rodents, you may have to add another layer to your fence design. You can usually keep voles and rabbits away by tacking chicken wire or hardware cloth to the lower edge of your fence and burying it to a depth of 3-5 in.<br><br>

	For orchards and berry patches, use lightweight mesh to protect ripening fruit. Birds won’t be able to push their way through the small openings to gorge. This mesh is also handy for setting up temporary fencing anywhere.<br><br>

	<b>3. Repel</b><br><br>

	The best kind of fences are invisible to everyone but the animals you’re trying to keep out. Some products use essential oils, predator urine, or other offensive odors to scare off pests. Just shake some of the granules around the areas you want to protect, and unwanted animals will get the hint. Be aware that some of these treatments may wear off under heavy rains, so reapply as needed.<br><br>

	You can also scare away animals with devices that move unpredictably, triggering their startle reflex. Motion-activated sprinklers work extremely well, and many gardeners have had success with flash tape or brightly colored balloons that shift in the wind.<br><br>

	<b>4. Eliminate</b><br><br>

	We’re not recommending that you kill living creatures, but occasionally, traps can come in handy to catch and relocate problem animals. When all of the other methods here have failed, it might be time to call in a professional who knows how to safely live trap an animal and move it far away from your yard.<br><br> <br><br>

	<h3 id='grasshoppers'>Grasshoppers</h3>
	<img src="{% static 'img/grasshopper.jpg' %}"></img><br>
	Grasshoppers are voracious feeders, consuming approximately one-half of their body weight per day. Both adults and nymphs cause damage by chewing on the leaves and stems of plants, and if infestations are severe, may defoliate entire fields. It is estimated that grasshoppers consume up to 25 percent of the available forage in the western United States annually.<br><br>

	Adults (1-2 inch long) are brown to reddish yellow or green in color with prominent jaws, fully developed wings and short antennae. They have enlarged hind legs and can jump great distances. Immature stages — nymphs — are similar in appearance to adults, but are smaller and have wing buds instead of wings.<br><br>

	Note: Ten adults per square yard are economically damaging to rangeland, according to the USDA. Smaller numbers can damage cropland or gardens, depending on crop type and age. A classic study showed that 6-7 adults per square yard on 10 acres of pasture ate as much as a cow.<br><br>

	<b>Life Cycle</b><br><br>

	The injurious species of grasshoppers are all alike in their cycle of development. Eggs are deposited in late summer in elongated masses or pods inserted in the soil. These pass through the winter, and on hatching in the spring, the young seek food in the immediate area. As they increase in size and food becomes scarce, migration to other food sources takes place. After molting 5 or 6 times, during a period of 40-60 days, the adults appear and continue feeding until cold weather kills them. One generation per year in most areas.<br><br>

	Control<br><br>

	<ul>
		<li>Roto-till or cultivate crops in the spring to destroy overwintering eggs.</li>
		<li>Harvest-Guard row covers can be used to cover and protect small garden areas.</li>
		<li>For long-term grasshopper protection, apply organic Semaspore Bait (Nosema locustae) to hatching beds – field margins and other undisturbed grassy areas – when grasshoppers are young. Heavy infestations may require multiple applications.</li>
		<li>Azamax contains azadirachtin, the key insecticidal ingredient found in neem oil. This concentrated spray is approved for organic use and offers multiple modes of action, making it virtually impossible for pest resistance to develop. Best of all, it’s non-toxic to honey bees and many other beneficial insects.</li>
		<li>Spread EcoBran Bait or apply botanical insecticides, such as organic pyrethrins, to areas where you are experiencing heavy grasshopper damage and require a quick-kill.</li>
	</ul>

	<b>Tip:</b> Mow a “clean” strip between grassy fields and your garden area to help slow grasshopper migration. Pests are reluctant to enter the strip because it has no food, and they are very exposed to predators. A wider strip is better, especially if the adjacent area is large.<br><br><br><br>

	<h3 id='potato'>Potato Beetles</h3>
	<img src="{% static 'img/potato-beetle-damage.jpg' %}"></img><br>
	Colorado potato beetles (Leptinotarsa decemlineata) are such a common pest in home gardens that they are often just called “potato bugs.” Both the adult and larval forms chew leaves and can completely defoliate an entire crop if potato beetle control methods are not implemented. Their feeding can greatly reduce yield and in some cases, may even kill plants. Alternate host plants include tomatoes, peppers and eggplant.<br><br>

	Adults (1/3 inch long) are rounded, yellowish-orange beetles with black stripes on their wings and black spots just behind the head. The plump larvae (1/8 to 1/2 inch long) are red with black head and legs, and become yellowish-red or orange with two rows of black spots on each side of the body.<br><br>

	<b>Life Cycle</b><br><br>

	Overwintering beetles hibernate in the soil or garden debris, emerging in the spring. At this point, they do not have enough energy to fly and must walk in search of suitable host plants. Females lay orange-yellow eggs in clusters on the undersides of leaves. In 4-15 days (depending on temperature) hatching occurs, and the voracious larvae begin feeding on foliage for up to one month. When mature, they drop from the plant, enter the soil and pupate, emerging as adults 5-10 days later. There are 1 to 3 generations each year.<br><br>

	<b>Potato Beetle Control</b><br><br>
	<ul>
		<li>Plant resistant cultivars when possible.
		<li>In early morning, shake adults beetles from plants onto ground cloth and dump captured pests into soapy water.
		<li>To impede the movement of overwintering adults, mulch at least 2-3 inches deep with a layer of clean straw or hay as soon as plants emerge.
		<li>Protect plants with Harvest-Guard row cover through spring.
		<li>Beneficial insects, such as ladybugs, spined soldier bugs and lacewing, feed on eggs and the young larval stages.
		<li>Beneficial nematodes will attack the immature stages developing in the soil.
		<li>Diatomaceous earth contains no toxic poisons and works on contact. Dust lightly and evenly over vegetable crops wherever pest insects are found.
		<li>Surround WP (kaolin clay) forms a protective barrier film, which acts as a broad spectrum crop protectant for preventing damage from chewing pests.
		<li>Monterey Garden Insect Spray (Spinosad) is a highly effective bio-pesticide recommended for use against potato beetles. For best results, apply when young.
		<li>Azatrol EC contains azadirachtin, the key insecticidal ingredient found in neem oil. This concentrated spray is approved for organic use and offers multiple modes of action, making it virtually impossible for insect resistance to develop. Best of all, it’s non-toxic to honey bees and many other beneficial insects.
		<li>Spot treat with fast-acting organic pesticides if pest levels become intolerable.
		<li>After harvest pick up garden debris and turn the soil over around plants to disturb overwintering beetles.
	</ul>

	<b>Tip:</b> Line trenches between potato rows with plastic to trap adults. A recent study found that trenches with walls sloping at greater than 46 degrees will retain an average of 84% of all adults caught.<br><br>

	<a href="/pestQuiz">Take the quiz to complete this lesson!</a><br><br>
</div>

{% include "footer.html" %}