{% load static %}

{% include "header.html" %}

	<h1 class='unitTitle'>Maintain</h1>
	<h2 class='unitTitle'>Pests Quiz</h2>
	
	<div class='content'>
		<b>Question 1.</b> True or false, putting up a higher fence will always help keep animals out of a garden.<br>
		<input type='radio' name='q1'>True<br>
		<input type='radio' name='q1'>False<br><br><br>
		
		<b>Question 2.</b> Which of the following is not an effective way of treating grasshoppers?<br>
		<input type='radio' name='q2'>a. Roto-till or cultivate crops in the spring to destroy overwintering eggs<br>
		<input type='radio' name='q2'>b. Use Harvest-Guard row covers to cover and protect small garden areas<br>
		<input type='radio' name='q2'>c. mulch 2-3 inches deep with a layer of clean straw or hay as soon as plants emerge<br>
		<input type='radio' name='q2'>d. Spread EcoBran Bait or apply botanical insecticides<br><br><br>
		
		<b>Question 3.</b> What type of material is effective at protecting a garden from birds?<br>
		<input type='radio' name='q3'>a. A mesh-based fence<br>
		<input type='radio' name='q3'>b. Insecticides<br>
		<input type='radio' name='q3'>c. An 8-ft fence<br>
		<input type='radio' name='q3'>d. Diatomaceous earth<br><br><br>
		
		<b>Question 4.</b> What color are potato beetle eggs?<br>
		<input type='radio' name='q4'>a. Reddish-orange<br>
		<input type='radio' name='q4'>b. Bright green<br>
		<input type='radio' name='q4'>c. White<br>
		<input type='radio' name='q4'>d. Dark brown<br><br><br>
		
		<b>Question 5.</b> What region of the plant do Grasshoppers chew?<br>
		<input type='radio' name='q5'>a. Roots<br>
		<input type='radio' name='q5'>b. Fruits<br>
		<input type='radio' name='q5'>c. Leaves & stems<br>
		<input type='radio' name='q5'>d. None of the above<br><br><br>
		
		<b>Question 6.</b> Which of the following is not an effective way of repelling animals?<br>
		<input type='radio' name='q6'>a. Essential oils<br>
		<input type='radio' name='q6'>b. Predator urine<br>
		<input type='radio' name='q6'>c. Moving devices<br>
		<input type='radio' name='q6'>d. Diatomaceous earth<br><br><br>
		
		<a href='/quizResults'>Submit answers</a><br><br>
	</div>

{% include "footer.html" %}	
