{% load static %}

{% include 'jquery_loader.html' %}
	
	<!--script type='text/javascript' src='static/js/quizParser.js'></script-->
	<h2 class='unitTitle' id='{{course}}'>{{ course }} Quiz</h2>
	
	<script type='text/javascript' src='{% static "js/quiz.js" %}'></script>
	
	<div class='content'>
	
		{% if questions %}
			<br><br>
			{% for q in questions %}
				
				<div class='questionDiv' id='question{{ q.id }}'>
			    <b>Question {{ forloop.counter }} </b> <span class='questionText'>{{ q.question }}</span> <br>
				<ol type='a' style='display: inline-block;'>
				{% for a in q.answers %}
					<label class='{{ forloop.counter }}'>
                        <input type='radio' value='{{ forloop.counter }}' id='answer{{a.id}}' name='{{ q.id }}'>
                        <li style='display: inline-block; margin-bottom: 8px;'> {{a.answer}}
                    </label><br>
					
					{% if a.correct %}
						<input type='hidden' class='answer' value='{{ forloop.counter }}'>
					{% endif %}
                    </li><br>
				{% endfor %}
                </ol>
				</div>
			{% endfor %}
			
		{% else %}
			<div>No errors occurred but no questions were retrieved. The URL should be /quiz/<course_name></div>
		{% endif %}
		
		<input id='submitBtn' type='button' value='Submit Answers'><br><br>
		<!--input id='url' type='hidden' value=' {{ request.get_full_path }}' -->
		<span id='url' style='display: none;'> {{ request.get_full_path}} </span>
	</div>	
