{% load static %}

{% include "header.html" %}
	
	<!--script type='text/javascript' src='static/js/quizParser.js'></script-->
	<h1 class='unitTitle'>{{ course }}</h1>
	<h2 class='unitTitle'>{{ course }} Quiz</h2>
	
	<script type='text/javascript'>
		$(function(){
			$("#submitBtn").click(function() {
				var results = gradeQuiz();
				
				if(results.length == 0){
					quizPassed();
				}
				else {
					quizFailed(results);
				}
			});
		});
		
		function gradeQuiz() {
			var results = [];
			
			$(".questionDiv").each(function(index) {
				var correct_answer = $(this).find('.answer').val();
				var questionId = $(this).attr('id');
				var users_answer = $(this).find("input[name='" + questionId + "']:checked").val();
				
				var correct = correct_answer === users_answer;
				if(!correct){
					results.push({"question": questionId, "correct": correct_answer});
				}
			});
			
			return results;
		}
		
		function quizPassed() {
			window.location.href = "/quizResults/" + $(".unitTitle").first().text();
		}
		
		function quizFailed(results) {
			var msg = "You did not pass the quiz! Missed " + results.length + " questions.";
			alert(msg);
			
			for(var i=0; i<results.length; i++){
				var qId = results[i].question;
				var correctOption = results[i].correct;
				$("#" + qId + " ." + correctOption).css("color", "red");
			}
			
			var extraAttempts = 3; //GET from DB
			
			if(extraAttempts > 0) {
				$("#submitBtn").val("Try Again");
				$("#submitBtn").click(function() {
					alert("TODO - load new quiz questions, add failed attempt to DB for user");
					$("#submitBtn").val("Submit Answers");
				});
			}
			else {
				//Redirect to lessons?
			}
		}
	
	</script>
	
	<div class='content'>
	
		{% if questions %}
			{{ questions }}
			<br><br>
			{% for q in questions %}
				
				<div class='questionDiv' id='{{ q.id }}'>
			    <b>Question {{ forloop.counter }} </b> <span class='questionText'>{{ q.question }}</span> <br>
				
				{% for a in q.answers %}
					<input type='radio' value='{{ forloop.counter }}' name='{{ q.id }}'><span class='{{ forloop.counter }}'> {{ forloop.counter }}. {{a.answer}}</span><br>
					
					{% if a.correct %}
						<input type='hidden' class='answer' value='{{ forloop.counter }}'>
					{% endif %}
				{% endfor %}
				</div>
				<br><br>
			{% endfor %}
			
		{% else %}
			<div>No errors occurred but no questions were retrieved. The URL should be /quiz/<course_name></div>
		{% endif %}
	
	<!--
		<div id='q1'></div><br>
		
		<div id='q2'></div><br>
		
		<div id='q3'></div><br>
		
		<div id='q4'></div><br>
		
		<div id='q5'></div><br>
		
		-->
		
		<input id='submitBtn' type='button' value='Submit Answers'><br><br>
		<!--input id='url' type='hidden' value=' {{ request.get_full_path }}' -->
		<span id='url' style='display: none;'> {{ request.get_full_path}} </span>
	</div>

{% include "footer.html" %}	
