{% load static %}
{% include "header.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/recordstable-home.css' %}">

{% block content %}
<div class="container">
    <header><strong>Table Home View</strong></header>
    <br>
    <a href="/table_form" class="btn btn-default">Create an entry!</a>
    <br>
    <br>
    <table style="width:100%">
        <tr>
            <th>Username</th>
            <th>Plant/Variety</th>
            <th>Location</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>Notes</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{log.username}}</td>
            <td>{{log.plant}}</td>
            <td>{{log.location}}</td>
            <td>{{log.quantity}}</td>
            <td>{{log.logdate}}</td>
            <td>{{log.notes}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% include "footer.html" %}
