{% block title %}Register{% endblock %}

{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/register-form.css' %}">
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3> Create New Account</h3>
                    {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>
                    {% endif %}
                    <form class="form-register" name ="Register-form" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% include 'form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">Submit</button>
                                <br>
                                <br>
                                <a href="/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}