{% include "admin/header.html" %}

<style>
td {
    padding: 10px 5px;
    vertical-align: top;
}

table, tr, td {
    border: 1px solid black;
}
</style>

<script type='text/javascript'>

    var addDialog;
    var addSubtypeDialog;
    var cropForNewSubtype;

    function addCrop(){
        var newCrop = $("#cropToAdd").val();

        $.ajax({
            url: "/pgaadmin/addCrop/" + newCrop,
            type: "POST",
            success: function (data) {
                addCropRow(newCrop);
            },
            error: function (xhr, errmsg, err) {
                alert("Error: " + errmsg);
                console.log(errmsg);
            }
        });
    }

    function addCropRow(newCrop) {
        var newRow = $("<tr>");

        var nameCell = $("<td>").text(newCrop);
        newRow.append(nameCell);

        var isCurrentCell = $("<td>").text("true");
        newRow.append(isCurrentCell);

        var toggleBtn = $("<button>").addClass('toggleBtn')
                                   .val(newCrop)
                                   .text("Toggle 'Is Current'");
        var toggleCell = $("<td>").append(toggleBtn);
        newRow.append(toggleCell);

        $("#cropsTable").append(newRow);
    }

    function addCropSubtype(){
        var newSubtype = $("#subtypeToAdd").val();

        $.ajax({
            url: "/pgaadmin/addSubtype",
            type: "POST",
            data: {
                "crop": cropForNewSubtype,
                "subtype": newSubtype
            },
            success: function (data) {
                var newLi = $("<li>");
                var newSpan = $("<span>").text(newSubtype + " ");
                newLi.append(newSpan);

                var newRemoveBtn = $("<button>").val(newSubtype);
                newRemoveBtn.addClass('removeSubtypeBtn');
                var id = cropForNewSubtype + "_" + newSubtype;
                newRemoveBtn.attr('id', id + "_RemoveBtn");
                newRemoveBtn.text("Remove");
                newRemoveBtn.on('click', removeSubtype);

                newLi.attr('id', id + "_Li");
                newLi.append(newRemoveBtn);

                var id = "#" + cropForNewSubtype + "List";
                $(id).append(newLi);
            },
            error: function (xhr, errmsg, err) {
                alert("Error: " + errmsg);
                console.log(errmsg);
            }
        });
    }

    function removeSubtype(){
        var id = $(this).attr('id');
        var parts = id.split('_');

        var crop = parts[0];
        var subtype = $(this).val(); //parts[1];

        console.log(crop);
        console.log(subtype);

        $.ajax({
            url: "/pgaadmin/removeSubtype",
            type: "POST",
            data: {
                "crop": crop,
                "subtype": subtype
            },
            success: function (data) {
                var liId = "#" + crop + "_" + subtype + "_Li";
                $(liId).remove();
            },
            error: function (xhr, errmsg, err) {
                alert("Error: " + errmsg);
                console.log(errmsg);
            }
        });
    }

	$(function() {
	    setupCSRF();
        addDialog = $("#addDialog").dialog({
            autoOpen: false,
            height: 200,
            width: 400,
            modal: true,
            buttons: {
                Cancel: function() {
                  addDialog.dialog( "close" );
                },
                "Add": function() {
                    addCrop();
                    addDialog.dialog( "close" );
                }
            },
            close: function() {

            }
        });

        addSubtypeDialog = $("#addSubtypeDialog").dialog({
            autoOpen: false,
            height: 200,
            width: 400,
            modal: true,
            buttons: {
                Cancel: function() {
                  addSubtypeDialog.dialog( "close" );
                },
                "Add": function() {
                    addCropSubtype();
                    addSubtypeDialog.dialog( "close" );
                }
            },
            close: function() {

            }
        });

        $("#addCrop").click(function() {
            $("#cropToAdd").val('');
            addDialog.dialog("open");
        });

        $(".addSubtypeBtn").click(function() {
            cropForNewSubtype = $(this).val();
            $("#subtypeToAdd").val('');
            addSubtypeDialog.dialog("open");
        });

        $(".removeSubtypeBtn").click(removeSubtype);

        $(".toggleBtn").click(function() {
            var crop = $(this).val();
            var cur_status = $(this).parent().find(".status").val();

            var new_status = 0;
            var new_text = "false";
            if(cur_status == 0){
                new_status = 1;
                new_text = "true";
            }

            $.ajax({
                url: "/pgaadmin/toggleCrop/" + crop + "/" + String(new_status),
                type: "POST",
                success: function (data) {
                    console.log("success");
                    $("#" + crop + "Tr .textStatus").text(new_text);
                    $("#" + crop + "Tr .status").val(new_status);
                },
                error: function (xhr, errmsg, err) {
                    alert("Error: " + errmsg);
                    console.log(errmsg);
                }
            });
        });

	});

</script>

<title>Crop Management</title>
<span class='adminPageTitle'>Crop Management</span>&nbsp; &nbsp;<a href='/pgaadmin/gardenMgmtMenu' class='backLink'>Back</a>

<br>
{% include "admin/upload_status.html" %}
<br>

<table id="cropsTable">
    <tr><th>Crop</th><th>Is Current</th><th>Subtypes</th><th>Toggle</th></th></tr>
    {% for c in crops %}
	<tr id='{{ c.name }}Tr'>
        <td><span>{{ c.name }}</span></td>
        <td><span class="textStatus">
            {% if c.is_current %}
                true
            {% else %}
                false
            {% endif %}
            </span>
        </td>
        <td>
            <ul class="subtypeList" id="{{c.name}}List">
                {% for subtype in c.subtypes %}
                    <li id="{{c.name}}_{{ subtype }}_Li">
                        {{ subtype }} &nbsp;
                        <button class="removeSubtypeBtn" id="{{c.name}}_{{ subtype }}_RemoveBtn" value="{{subtype}}">Remove</button>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <button class="btn btn-default addSubtypeBtn" value="{{c.name}}">Add Subtype</button>
        </td>
		<td>
            <input class='status' type="hidden" value="{{c.is_current}}">
            <button class='toggleBtn' value='{{c.name}}'>Toggle 'Is Current'</button>
        </td>
	</tr>
    {% endfor %}
</table>

<br><br>

<button id='addCrop'>Add Crop</button><br>

<div id="addDialog" title="Add a Crop">
    <label>Enter the name of the crop you would like to add:
        <input type="text" id="cropToAdd" >
    </label>
</div>

<div id="addSubtypeDialog" title="Add a Crop Subtype">
    <label>Enter the name of the subtype you would like to add for this crop:
        <input type="text" id="subtypeToAdd" >
    </label>
</div>

<br>

{% include "admin/footer.html" %}