<!--
    HTML for a generic upload file dialog box
    init func in adminUtils.js
-->
<div id='uploadDialog' title="Upload">
    <!--
        empty action sends form to current URL 
        To set to custom action:
        $("#uploadForm").attr('action', <action>); 
    -->
    <form id='uploadForm' enctype='multipart/form-data' method='post' action=''>
        {% csrf_token %}
        {{ form }}
        <!--
         django uses 'id_file' for a form field named 'file',
          but I'm setting the id to a hidden value 
          and then getting that in case django ever 
          changes this id
        -->
        <input type='hidden' value='{{ form.file.auto_id }}' id='fileUploadId'>
    </form>
    <br>
    <span id="uploadHelpText"></span>
</div>

<!-- 
    Generic delete-confirmation dialog 
    Before opening dialog, set the span text appropriately
    init func in adminUtils.js
-->
<div id='confirmDeleteDialog' title="Delete">
    <span id='confirmDeleteText'></span>
</div>