{% load static %}
{% include "admin/header.html" %}

<script src="{% static 'js/libraries/fabric.min.js' %}"></script>
<script src="{% static 'js/libraries/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/libraries/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/libraries/jquery.ui.touch-punch.js' %}"></script>

<script>
    //var canvas;
    var gridSize = 50;
    var planIdToDelete;
    var confirmDeleteDialog;

    function confirmDeletePlan() {
        confirmDeleteDialog.dialog("close");

        $.ajax({
            url: "/pgaadmin/deletePlan",
            data: {
                "plan_id": planIdToDelete
            },
            type: "POST",
            success: function (data) {
                $("#garden" + planIdToDelete).remove();
                alert("Plan deleted");
                //console.log(data);
            },
            error: function (xhr, errmsg, err) {
                alert("Error: " + errmsg);
                console.log(errmsg);
            }
        });
    }

    $(document).ready(function() {

        setupCSRF();

        $(".plan-to-load").each(function() {
            var id = $(this).find(".planId").val();
            console.log(id);
            var canvas = $(this).find("canvas");
            var canvasId = canvas.attr('id'); //$(canvas).attr('id');

            $.ajax({
                url: "/getBedCanvas",
                type: "GET",
                data: {
                    planID: id
                },
                success: function (resp) {
                    var canvas = new fabric.StaticCanvas(canvasId);
                    canvas.setHeight(window.innerHeight / 2);
                    canvas.setWidth($(".gardenLayout").width());
                    var canvasData = resp['canvas'];
                    canvas.loadFromJSON(JSON.parse(canvasData), canvas.renderAll.bind(canvas));
                    drawGrid(canvas);
                },
                error: function (xhr, errmsg, err) {
                    alert("Error: " + errmsg);
                    console.log(err);
                }
            });
        });

        $(".deletePlanBtn").click(function() {
            planIdToDelete = $(this).attr('id');
            planIdToDelete = planIdToDelete.substr(planIdToDelete.indexOf('_') + 1, planIdToDelete.length);
            //console.log(planIdToDelete);

            $("#confirmDeleteText").text("Are you sure you want to delete this plan?");
			confirmDeleteDialog.dialog('open');
        });

        confirmDeleteDialog = createConfirmDeleteDialog(confirmDeletePlan);

    });

    /**
     * Draw the grid based on the given grid size.
     */
    function drawGrid(canvas) {
        for (var x = 1; x < (canvas.getWidth() / gridSize); x++) {
            canvas.add(new fabric.Line([gridSize * x, 0, gridSize * x, canvas.getWidth()], {
                stroke: "#000000",
                strokeWidth: 1,
                selectable: false,
                strokeDashArray: [5, 5]
            }));
            canvas.add(new fabric.Line([0, gridSize * x, canvas.getWidth(), gridSize * x], {
                stroke: "#000000",
                strokeWidth: 1,
                selectable: false,
                strokeDashArray: [5, 5]
            }));
        }
    }
</script>

<link rel="stylesheet" type="text/css" href="{% static 'css/garden.css' %}"/>
<meta name="viewport" content="width=device-width,user-scalable=no">
<a href="/pgaadmin/gardensMgmt" id="backBtn" class="btn btn-default">Back</a><br>
<title>Garden Plans Management</title>
<h2 id="gardenTitle">{{ garden }}'s Plans</h2>

<div class="container-fluid gardenLayout">
    <div class="row" style="display: none;">
        <div class="itemsLayout" id="itemsBoard">
            <img src="{% static 'img/broccoli.png' %}" class="gardenItems">
            <img src="{% static 'img/cabbage.png' %}" class="gardenItems">
            <img src="{% static 'img/carrot.png' %}" class="gardenItems">
            <img src="{% static 'img/cucumber.png' %}" class="gardenItems">
            <img src="{% static 'img/garlic.png' %}" class="gardenItems">
            <img src="{% static 'img/onion.png' %}" class="gardenItems">
            <img src="{% static 'img/potato.png' %}" class="gardenItems">
            <img src="{% static 'img/radish.png' %}" class="gardenItems">
        </div>
    </div>

    <h3>Current 'As Planted' Plan</h3>
    <div id="garden{{plans.current.plan_id}}">
        <span>Marked 'As Planted' by {{plans.current.created_by}} at {{plans.current.date}}</span><br>
        <input  type='button' id="delete_{{plans.current.plan_id}}" class="btn btn-default deletePlanBtn" value="Delete Plan"><br>
        <div class="row plan-to-load">
            <input type="hidden" class="planId" value="{{ plans.current.plan_id }}" />
            <div class="bedContainer snapZone">
                <canvas class="gardenCanvas" id="gardenCanvasCurrent"></canvas>
            </div>
        </div>
    </div>
    <br><br>

    <h3>Past 'As Planted' Plans</h3>
    {% for year, ids_and_dates in plans.past.items %}
        <h4 class="year">{{ year }}</h4><br><br>
        {% for dict in ids_and_dates %}
            <div id="garden{{dict.id}}">
                <span>Marked 'As Planted' by: {{dict.marked_current_by}} at {{dict.date}}</span><br>
                <input  type='button' id="delete_{{dict.id}}" class="btn btn-default deletePlanBtn" value="Delete Plan"><br>
                <div class="row plan-to-load">
                    <input type="hidden" class="planId" value="{{ dict.id }}" />
                    <div class="bedContainer snapZone">
                        <canvas class="gardenCanvas" id="gardenCanvas{{ dict.id }}"></canvas>
                    </div>
                </div>
            </div>
            <br><br>
        {% endfor %}
    {% endfor %}

    <h3>Existing Plans</h3>
    {% for plan in plans.existing %}
        <div id="garden{{plan.plan_id}}">
            <span>{{plan.plan_name}} - created by: {{plan.created_by}} at {{plan.created_date}}</span><br>
            <span>Last update by: {{plan.updated_by}} at {{plan.updated_date}}</span><br>
            <input  type='button' id="delete_{{plan.plan_id}}" class="btn btn-default deletePlanBtn" value="Delete Plan"><br>
            <div class="row plan-to-load">
                <input type="hidden" class="planId" value="{{ plan.plan_id }}" />
                <div class="bedContainer snapZone">
                    <canvas class="gardenCanvas" id="gardenCanvas{{ plan.plan_id }}"></canvas>
                </div>
            </div>
        </div>
        <br><br>
    {% endfor %}

    <h3>Plans Deleted by Users</h3>
    {% for plan in plans.deleted %}
        <div id="garden{{plan.plan_id}}">
            <span>{{plan.plan_name}} - created by: {{plan.created_by}} at {{plan.created_date}}</span><br>
            <span>Deleted by: {{plan.deleted_by}} at {{plan.deleted_date}}</span><br>
            <input  type='button' id="delete_{{plan.plan_id}}" class="btn btn-default deletePlanBtn" value="Delete Plan"><br>
            <div class="row plan-to-load">
                <input type="hidden" class="planId" value="{{ plan.plan_id }}" />
                <div class="bedContainer snapZone">
                    <canvas class="gardenCanvas" id="gardenCanvas{{ plan.plan_id }}"></canvas>
                </div>
            </div>
        </div>
        <br><br>
    {% endfor %}
</div>

{% include "admin/dialogs.html" %}

{% include "admin/footer.html" %}