<html>
{% load static %}

<head>
	<link rel='stylesheet' type='text/css' href="{% static 'css/adminStyle.css' %}">
	
	<!-- jQuery: -->
    <script src="{% static 'js/libraries/jquery-2.2.4.min.js' %}"></script>
	
	<!-- jQuery UI: -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script src="{% static 'js/libraries/jquery-ui.min.js' %}"></script>
    
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/adminUtils.js' %}"></script>
	
</head>

<body>
