<html>
{% load static %}

<head>
	<link rel='stylesheet' type='text/css' href="{% static 'css/adminStyle.css' %}">
	
	<!-- jQuery: -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	
	<!-- jQuery UI: -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <script src="{% static 'js/adminUtils.js' %}"></script>
	
</head>

<body>