{% load static %}
{% include "admin/header.html" %}

<style>
	.correct {
		color: green;
	}
	
	.questionTextEdit, .answerEdit, .correctOption, .deleteBtn {
		display:none;
	}

	.addQuestionAnswer {
	    margin-top: 5px;
	    margin-bottom: 5px;
	}
</style>

<script type='text/javascript' src="{% static 'js/adminQuiz.js' %}"></script>

<span class='adminPageTitle'>{{ unit }} Quiz</span>&nbsp; &nbsp;<a class='backLink' href='/pgaadmin/unit/{{unit}}'>Back</a><br><br>

<div class='content'>
	<button id='editBtn'>Edit</button>&nbsp;
	<button id='addBtn'>Add Question</button>&nbsp;
	<button id='uploadListBtn'>Upload New Question List</button><br><br>
    
    {% include "admin/upload_status.html" %}
	
	<div id='questionsDiv'>
	{% for q in questions %}
		
		<div class='questionDiv' id='question{{ q.id }}'>
		<b>Question {{ forloop.counter }} </b> <span class='questionText'>{{ q.question }}</span>
			<input type='text' class='questionTextEdit' value='{{ q.question }}' size="90">
			<input type="button" class="btn btn-default deleteBtn" value="Delete Question" id="delete{{ q.id }}">
			<br>
		
		<ol type='a' class='q{{q.id}}'>
		{% for a in q.answers %}
			
			<li id='answer{{a.id}}'>
			{% if a.correct %}
					<span class='option{{ forloop.counter }} answer correct'>{{a.answer}}</span>
					<input class='option{{ forloop.counter }} answerEdit' type='text' value='{{a.answer}}' size="90">
					<label class='correctOption'><input type='radio' class='correctOption' name='correct{{q.id}}' value='{{a.answer}}' checked>Correct Answer</label>
			{% else %}
                    <span class='option{{ forloop.counter }} answer'>{{a.answer}}</span>
					<input class='option{{ forloop.counter }} answerEdit' type='text' value='{{a.answer}}' size="90">
					<label class='correctOption'><input type='radio' class='correctOption' name='correct{{q.id}}' value='{{a.answer}}'>Correct Answer</label>
			{% endif %}
            </li>
			
		{% endfor %}
		</ol>
		</div>
		<br><br>
	{% endfor %}
	</div>
	
</div>

<input type="hidden" value="{{unit}}" id="currentUnit">

<div id="addQuestionDialog" title="Add Question">
    <label>Question: <input type="text" id="addQuestionTitle" size="50"></label>
    <br>
    <br>
    <div id="addQuestionAnswers">
        <label>Answer 1: <input type="text" class="addQuestionAnswer" size="50"><br></label>
        <label>Answer 2: <input type="text" class="addQuestionAnswer" size="50"><br></label>
    </div>
    <br>
    <input type="button" value="Add Another Answer" id="addAnswerBtn">
    <br><br>
    <label>Correct Answer: <select id="correctAnswerSelect">
        <option value="1">1</option>
        <option value="2">2</option>
    </select></label>
</div>

{% include "admin/dialogs.html" %}
{% include "admin/footer.html" %}