{% include "admin/header.html" %}

<script type='text/javascript'>

    var editing = false;
    var resourceToDelete = '';
    var confirmDeleteDialog;
    var uploadDialog;
    var fileUploadId;
    
    var confirmDeleteCallback = function() {
        //TODO send delete request
        $("#" + resourceToDelete + "Li").remove();
        confirmDeleteDialog.dialog("close");
    }

	$(function() {
		
        //defined in adminUtils.js:
        initEditButton();
        
		$(".removeBtn").click(function() {
			resourceToDelete = $(this).val();
			$("#confirmDeleteText").text("Are you sure you want to delete " + resourceToDelete + "? Lessons linked to this may now contain invalid links.");
			confirmDeleteDialog.dialog("open");
		});
        
        fileUploadId = $("#fileUploadId").val();
        
        //defined in adminUtils.js:
        uploadDialog = createUploadDialog(fileUploadId); 
        $('#uploadResourceBtn').click(function() {
            uploadDialog.dialog("open");
        });
        
        confirmDeleteDialog = createConfirmDeleteDialog();
	});

</script>
    
        <span class='adminPageTitle'>Supplementary Materials for {{ unit }}</span>&nbsp;&nbsp;<a href='/pgaadmin/unit/{{unit}}' class='backLink'>Back</a><br><br>
    
        {% include "admin/upload_status.html" %}
        
        <ul id='resources'>
            {% for r in resources %}
                <li id='{{ c.Course_Name }}Li'><a href='{{r.path}}'>{{r.name}}</a>&nbsp;<button class='edit-input removeBtn'>Remove</button></li>
            {% endfor %}
        </ul>
        
        <br><br>
        <button id='editBtn'>Edit</button>&nbsp;
        <button id='uploadResourceBtn'>Upload</button><br>

	
{% include "admin/dialogs.html" %}
{% include "admin/footer.html" %}
