{% include "admin/header.html" %}

<script type='text/javascript'>

    var editing = false;
    var resourceToDelete = '';
    var confirmDeleteDialog;
    var uploadDialog;
    var fileUploadId;
    
    var confirmDeleteCallback = function() {
        var html_id = resourceToDelete.replace(".", "");
        $("#" + html_id + "Li").remove();
        confirmDeleteDialog.dialog("close");

        /*
        $.ajax({
            url: "/pgaadmin/quiz/deleteQuestion",
            type: "POST",
            data: {
                questionId: id
            },
            success: function (data) {
                //alert("Success!");
                console.log(data);
            },
            error: function (xhr, errmsg, err) {
                alert("Error: " + errmsg);
                console.log(errmsg);
            }
        });
        */
    }

	$(function() {
		
        //defined in adminUtils.js:
        initEditButton();
        
		$(".removeBtn").click(function() {
			resourceToDelete = $(this).val();
			$("#confirmDeleteText").text("Are you sure you want to delete " + resourceToDelete + "? Lessons linked to this may now contain invalid links.");
			confirmDeleteDialog.dialog("open");
		});
        
        fileUploadId = $("#fileUploadId").val();
        
        //defined in adminUtils.js:
        uploadDialog = createUploadDialog(fileUploadId); 
        $('#uploadResourceBtn').click(function() {
            uploadDialog.dialog("open");
        });
        
        confirmDeleteDialog = createConfirmDeleteDialog(confirmDeleteCallback);
	});

</script>
    
        <span class='adminPageTitle'>Supplementary Materials for {{ unit }}</span>&nbsp;&nbsp;<a href='/pgaadmin/unit/{{unit}}' class='backLink'>Back</a><br><br>
    
        {% include "admin/upload_status.html" %}
        
        <ul id='resources'>
            {% for r in resources %}
                <li id='{{ r.html_id }}Li'>
                    <a href='{{r.path}}'>{{r.name}}</a>&nbsp;
                    <button class='edit-input removeBtn' value="{{r.name}}">Remove</button>
                </li>
            {% endfor %}
        </ul>
        
        <br><br>
        <button id='editBtn'>Edit</button>&nbsp;
        <button id='uploadResourceBtn'>Upload</button><br>

	
{% include "admin/dialogs.html" %}
{% include "admin/footer.html" %}
