{% include "admin/header.html" %}

<script type='text/javascript'>

    var editing = false;
    var resourceToDelete = '';
    var confirmDeleteDialog;
    var uploadDialog;
    var fileUploadId;

	$(function() {
		
        //defined in adminUtils.js:
        initEditButton();
        
		$(".removeBtn").click(function() {
			var lesson = $(this).val();
			alert("You sure you want to delete " + lesson + "?");
		});
        
        fileUploadId = $("#fileUploadId").val();
        
        //defined in adminUtils.js:
        uploadDialog = createUploadDialog(fileUploadId); 
        $('#uploadResourceBtn').click(function() {
            uploadDialog.dialog("open");
        });
	});

</script>
    
    {% if index %}
        <span class='adminPageTitle'>Supplementary Materials</span>&nbsp;&nbsp;<a href='/pgaadmin/courseMgmt' class='backLink'>Back</a><br><br>
        
        <ul>
            <li><a href='/pgaadmin/supplementaryMaterials/PDF'>PDF's</a></li>
            <li><a href='/pgaadmin/supplementaryMaterials/Image'>Image's</a></li>
            <li><a href='/pgaadmin/supplementaryMaterials/Video'>Video's</a></li>
        </ul>
    
    {% else %}
        <span class='adminPageTitle'>Supplementary Materials</span>&nbsp;&nbsp;<a href='/pgaadmin/supplementaryMaterials' class='backLink'>Back</a><br><br>
    
        {% include "admin/upload_status.html" %}
        
        <h3>{{ resource_type }}'s</h3>
        
        <ul id='resources'>
            {% for r in resources %}
                <li><a href='/pgaadmin/supplementaryMaterials/{{resource_type}}/{{r.name}}'>{{r.name}}</a><button class='removeBtn'>Remove</button></li>
            {% endfor %}
        </ul>
        
        <br><br>
        <button id='editBtn'>Edit</button>&nbsp;
        <button id='uploadResourceBtn'>Upload</button><br>
        
    {% endif %}
	
{% include "admin/upload_dialog.html" %}
{% include "admin/footer.html" %}
