{% include "admin/header.html" %}

<script type='text/javascript'>

    var editing = false;
    var lessonToDelete = '';
    var confirmDeleteDialog;
    var uploadDialog;
    var fileUploadId;

	$(function() {
	
		initEditButton();
		
		$(".removeBtn").click(function() {
			var lesson = $(this).val();
			alert("You sure you want to delete " + lesson + "?");
		});
        
        fileUploadId = $("#fileUploadId").val();
        uploadDialog = createUploadDialog(fileUploadId); //defined in adminUtils.js	
        $('#uploadLesson').click(function() {
            uploadDialog.dialog("open");
        });
	});

</script>


<span class='adminPageTitle'>{{ unit }}</span>&nbsp; &nbsp;<a href='/pgaadmin/courseMgmt' class='backLink'>Back</a>

<br><br>

<a href='/pgaadmin/quiz/{{unit}}'><button id='download'>Unit Quiz</button></a><br><br>

<h3> Lessons: </h3>

{% include "admin/upload_status.html" %}

<ol>
{% for l in lessons %}
	<li>
		<a href='/pgaadmin/unit/{{ unit}}/{{ l.name }}' class='lessonLink'>{{ l.name }}</a>&nbsp;&nbsp;
		<button class='removeBtn' value='{{l.name}}'>Delete Lesson</button>
	</li>
{% endfor %}
</ol><br><br>
<button id='editBtn'>Edit</button>&nbsp;
<button id='uploadLesson'>Upload Lesson</button><br>

{% include "admin/upload_dialog.html" %}
{% include "admin/footer.html" %}