{% include "admin/header.html" %}

<script type='text/javascript'>

    var editing = false;
    var lessonToDelete = '';
    var confirmDeleteDialog;
    var uploadDialog;
    var fileUploadId;
    
    function confirmDeleteLesson(){
        //TODO send delete request
        $("#" + lessonToDelete + "Li").remove();
        confirmDeleteDialog.dialog("close");
    }

	$(function() {
	
		initEditButton();
		
		$(".removeBtn").click(function() {
			lessonToDelete = $(this).val();
            $("#confirmDeleteText").text("Are you sure you want to delete " + lessonToDelete + "? All associated data will be deleted.");
			confirmDeleteDialog.dialog("open");
		});
        
        fileUploadId = $("#fileUploadId").val();
        uploadDialog = createUploadDialog(fileUploadId); //defined in adminUtils.js	
        $('#uploadLesson').click(function() {
            uploadDialog.dialog("open");
        });
        
        confirmDeleteDialog = createConfirmDeleteDialog(confirmDeleteLesson);
	});

</script>


<span class='adminPageTitle'>{{ unit }}</span>&nbsp; &nbsp;<a href='/pgaadmin/courseMgmt' class='backLink'>Back</a>

<br><br>

<a href='/pgaadmin/quiz/{{unit}}'><button id='download'>Unit Quiz</button></a>&nbsp;&nbsp;
<a href='/pgaadmin/unit/{{unit}}/supplementaryMaterials'><button id='suppBtn'>Supplementary Materials</button></a><br><br>

<h3> Lessons: </h3>

{% include "admin/upload_status.html" %}

<ol>
{% for l in lessons %}
	<li id='{{ l.name }}Li'>
		<a href='/pgaadmin/unit/{{ unit}}/{{ l.name }}' class='lessonLink'>{{ l.name }}</a>&nbsp;&nbsp;
		<button class='removeBtn' value='{{l.name}}'>Delete Lesson</button>
	</li>
{% endfor %}
</ol><br><br>
<button id='editBtn'>Edit</button>&nbsp;
<button id='uploadLesson'>Upload Lesson</button><br>

{% include "admin/dialogs.html" %}
{% include "admin/footer.html" %}